
.body
{
    background-color:pink;
}
.about
{
    background-color: tomato;
    text-align: center;
    border: solid black 2px;
}
.box
{ 
    border: 2px solid black;
    border-radius: 15%;
    display:inline-block;
    background-color: aqua;
    margin: 20px;
}

.image
{
    border: 2px solid black;
    border-radius:50px 50px 0 0;
    height:400px ;
    width:400px;
}

.price
{
    text-align: center;
}
.btn
{
    border-radius: 2px solid black;
    background-color: black;
    color: white;
    border-radius: 15%;
    padding: 10px;
}

